@media screen and (max-width: 615px) {
    section {
        .container {
            margin-top: 0;

            .row {
                .take {
                    margin-top: 30px;
                    text-align: center;
                    margin-bottom: 30px;
                }

                .page {
                    text-align: center;
                    img {
                        // display: none;
                        width: 400px;
                        // text-align: center;
                    }
                }
            }
        }
    }


    .rectangle {
        display: none;
    }

    .play {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    section {
        .container {
            .stay {
                text-align: center;
                margin-left: 0px !important;
            }
        }
    }

    .bawah {
        .rowone {
            margin-bottom: 0px;
            .card {
                z-index: 2;
                margin-top: 100px !important;
                // padding: 20px;
                margin: 0 auto;
                width: 100% !important;
                height: 117px;
                background: #FFFFFF;
                box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
                border-radius: 16px;

                .grid {
                    .col {
                        display: inline-block;

                        h3 {

                            font-family: Rubik;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 36px;
                            line-height: 43px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            text-align: center;
                            letter-spacing: 0.14em;
                            font-feature-settings: 'pnum'on, 'lnum'on;
                            color: #EC5863;
                        }

                        p {
                            font-family: Rubik;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 11px;
                            line-height: 13px;
                            /* identical to box height */

                            display: flex;
                            align-items: center;
                            text-align: center;
                            letter-spacing: 0.37em;
                            text-transform: uppercase;
                            font-feature-settings: 'pnum'on, 'lnum'on;

                            color: #000000;
                        }

                    }


                }
            }

            .rec1 {
                display: none;
                position: relative;
                z-index: 0;
                width: 127px;
                height: 127px;
                bottom: 120px;
                left: 830px;
            }

            .rec2 {
                position: relative;
                z-index: 0;
                width: 96.96px;
                height: 96.96px;
                bottom: 200px;
                left: 300px;
                transform: rotate(105deg);
            }

            .rec3 {

                position: relative;
                z-index: 0;
                width: 65.75px;
                height: 65.75px;
                bottom: 70px;
                left: -40px;
            }
        }
    }




    .rowtwo {
        margin-top: -80px;
        .talk {
            margin-top: 0px;

            h1 {
                font-family: Rubik;
                font-style: normal;
                font-weight: bold;
                font-size: 44px;
                line-height: 126%;
                /* or 55px */

                font-feature-settings: 'pnum'on, 'lnum'on;

                color: #000000;

                span {
                    color: #4285F4;
                }
            }

            p {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 138.5%;
                /* or 17px */

                letter-spacing: 0.08em;
                font-feature-settings: 'pnum'on, 'lnum'on;

                color: #616161;
            }

            button {
                font-size: 10px;
                width: 144px;
                height: 40px;
            }
        }

    }

    .talk {
        text-align: center;

    }

    .vid {
        text-align: center;

        img {
            // display: block;
            width: 430px;
            height: 250px;
            // justify-content: center;
        }
    }

    .healt {
        margin-top: 100px;

        h1 {
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 44px;
            line-height: 126%;
            /* or 55px */

            font-feature-settings: 'pnum'on, 'lnum'on;

            color: #000000;

            span {
                color: #EC5863;
            }
        }

        p {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 138.5%;
            /* or 17px */

            letter-spacing: 0.08em;
            font-feature-settings: 'pnum'on, 'lnum'on;

            color: #616161;
        }
    }

    .kotak {
        .rec1 {
            // display: none;
            position: relative;
            z-index: 0;
            width: 20%;
            height: 20%;
            bottom: 200px;
            left: -50px;
        }

        .rec2 {
            display: none;
            position: relative;
            z-index: 0;
            width: 10%;
            height: 10%;
            bottom: 200px;
            left: 450px;
            transform: rotate(100deg);
        }

        .rec3 {
            // display: none;
            position: relative;
            z-index: 0;
            width: 15%;
            height: 15%;
            bottom: 200px;
            left: -40px;
            transform: rotate(80deg);
        }

        .rec4 {
            display: none;
            position: relative;
            z-index: 0;
            width: 10%;
            height: 10%;
            bottom: 400px;
            right: 500px;
        }
    }
    .bawah{
        margin-bottom: -0px;
    }

    footer {
        margin-top: -50px !important;
        margin-bottom: 20px;
    }
}